@charset "utf-8";

h1{
    font-family: cursive;
    color: white;
    font-size: 40px;
}

body{
    background-image: url(https://cutewallpaper.org/28/cool-blue-wallpaper-hd-game/1817714899.jpg)  ;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculator{
    max-width: 360px;
    background-color:rgba(0, 0, 0, 0.727);
    border-radius: 13px;
    padding: 18px;
    box-shadow: rgb(252, 252, 252) -25px 30px 25px;
}

#display{
    width: 100%;
    height: 60px;
    font-size: 22px;
    text-align: right;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background:rgba(0, 255, 255, 0.348);
    border: none;
    box-sizing: border-box;
}

button{
    width: calc(25% - 12px);
    height: 50px;
    font-size: 22px;
    margin: 10px 5px;
    border: none;
    float: left;
    background-color: white;
    color: rgb(0, 0, 0);
    box-shadow: aqua -7px 5px 20px  ;
}

.operator{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 255, 255, 0.355) ;
}

#ac{
    color: greenyellow;
}

.equal{
    width: calc(50% - 12px);
    background-color: red;
}

button:hover{
    cursor: pointer;
    background-color: aqua;
    transform: translateY(-6px);
}

button:active{
    transform: translateZ(-7px);
    box-shadow: rgb(0, 17, 112) 0px 15px 20px;
}

footer{
    border-radius: 15px;
    font-size: 40px;
    margin-top: 60px;
    font-family: cursive;
    color: aqua;
    background-color: rgba(0, 0, 0, 0.637);
}